SPRING_PROFILES_ACTIVE=prod

# Database
DB_URL=jdbc:postgresql://postgres:5432/buyology_courier
DB_USERNAME=buyology
DB_PASSWORD=

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_USERNAME=buyology
RABBITMQ_PASSWORD=

# Redis
REDIS_HOST=redis
REDIS_PASSWORD=

# Auth
JWT_ISSUER_URI=http://YOUR_SERVER_IP:8080/realms/buyology
AUTH_JWT_SECRET=

# CORS
CORS_ALLOWED_ORIGINS=http://YOUR_FRONTEND_DOMAIN
